.div-usuario{
    float: left;
    width: 48%;
  }
  
  .div-senha{
    float: right;
    width: 48%;
  }
  
  .container-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .register{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    padding: 24px 16px;
    width: 50%;
    height: fit-content;
    border:1px solid #ccc ;
    box-shadow: 0px 2px 8px 0px #D8D8D8;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .register-title{
    display: flex;
    flex-direction: column;
    height: 10%;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  
  .form-style{
    width: 100%;
  }
  
  .div-gravar{
    float: left;
    margin-left: 225px;  
  }
  
  .div-cancelar{
    float: right;
    margin-right: 225px;
  }
  
  .button-azul{
    border-radius: 4px;
    background-color: #666BD0;
    color:#F7F7F7;
    height: 48px;
    width: 100px;
  }
  
  .button-azul:hover{
    background-color: #4045a7;
    color:#F7F7F7;  
  }
  
  .container-center .buttons .button-azul{
    height: 48px;
    font-weight: bold;
  }